---
layout: default
title: Articles on Hegra
featured_image: images/experience-hegra-21.jpg
articles:
 - title-left: The History of Hegra
   description-left: Evidence of human presence at Hegra dates back to beyond the 1st millennium BCE and was the location of the Nabataean city from the end of the 1st millennium BCE into the 1st millennium CE. Inscriptions detailing who was buried within remain above some of these breathtaking burial chambers to this day. These tombs were dedicated to healers, military figures, local leaders and others.
   photo-left: bg-image-11
   title-right: A Sister City to Petra
   description-right: Just like the grand city of Petra, the civilization's expert craftsmanship can be seen throughout Hegra, including wells and stone-lined water channels. Roman influence is also present in the form of defensive walls, gates and towers that once encircled the city.
   photo-right: bg-image-12
---

<!-- Header Banner -->
<section class="bg-image responsive-banner" style="background-image: url('{{page.featured_image}}')">
    <h2> {{page.title}} </h2>
  </section>

<!-- Article Overview Section -->
<section class="grid-middle padded tall-20">
    <h2 class="editable">Explore featured articles about Hegra</h2>
    <p class="editable">The oasis city of AlUla has long been a haven for humanity; from weary travelers to great civilizations, history is etched into its mountains. The lush valley and wind-swept landscapes became a refuge of rest for traders and pilgrims alike. Find articles below to learn more about the once-great Nabataean civilization that ruled the trading routes of the famous Incense Road.</p>
</section>

<!-- Articles Section -->
<section class="grid-middle">
    {% for item in page.articles %}

    <div class="col-6_sm-12 padded">
        <h3>{{item.title-left}}</h3>
        <p>{{item.description-left}}</p>
        <a href="#" class="text-right article-button"> Find out more &nbsp; &#10141; </a>
    </div>
    <div class="col-6_sm-12 mob-hide {{item.photo-left}} tall-60">
        <!-- image right -->
    </div>
    <div class="col-6_sm-12 bg-image {{item.photo-right}} tall-60">
        <!-- image left -->
    </div>
    <div class="col-6_sm-12 padded">
        <h3>{{item.title-right}}</h3>
        <p>{{item.description-right}}</p>
        <a href="#" class="text-right article-button"> Find out more &nbsp; &#10141; </a>
    </div>

    {% endfor %}
</section>

<section class="grid padded">
    <h2 class="col-12">Other articles</h2>

    {% for post in site.posts limit:3 offset:1 %}
  
    <div class="col-4_xs-12 padded-1">
      <div class="bg-image square" style="background-image: url('{{post.featured_image}}')"></div>
      <h3 class="margin-tb"> {{post.title}} </h3>
      <p> {{post.description}} </p>
      <a href="{{post.url}}" class="article-button"> Find out more &nbsp; &#10141; </a>
    </div>
    
   {% endfor %}
  
  </section>