---
layout: default
title: Book your Hegra experience
featured_image: /images/experience-hegra-2.jpg 
seo:
  title: Booking Hegra Experiences
  description: >-
    Discover Hegra tour options and easily book your experience at Saudi Arabia's first UNESCO World Heritage Site, in AlUla. Sunrise, group or private tours available.
  social_image:
  twitter_card: summary
  twitter_description: >-
    Discover Hegra tour options and easily book your experience at Saudi Arabia's first UNESCO World Heritage Site, in AlUla. Sunrise, group or private tours available.
  keywords: 'Book Hegra tours, easy tourism Hegra'
  hide-from-google: false 
---
<!-- Responsive Banner -->
{% include responsive-banner.html %}

<!-- Overview Section -->
<section class="grid padded padded-b-0">
    <h2 class="col-12 editable">Explore the history of AlUla</h2>
    <p class="col-12 editable">Situated at the heart of the ancient Incense Road, AlUla was once the southernmost outpost of the great Nabataean civilization. There are many ways to explore the over 110 tombs of Saudi Arabia's first UNESCO World Heritage Site, though all options involve booking a tour through AlUla's destination website. From sunrise horse-drawn carriage rides to after-dark experiences, each option gives a unique glimpse into this historic city.</p>
</section>

<!-- Booking Options Cards -->
<section class="padded">
  <h2 class="editable"> Booking Options </h2>
  <div class="grid">
  
      {% for item in site.booking %}
      <!--   Card 1     -->
      <div class="col-4_sm-12-spaceBetween card-booking margin-b-2"> 
        <div class="card">
          <div class="relative square bg-image text-right {{item.card_image}}">
            {% if item.open != true %}
            <div>
               <h4 id="back-soon">Coming back soon</h4>
            </div>
            {% endif %}
            <!-- image -->
          </div>
          <div class="padded">
            <h4 class="price featured-text margin-b-03"> {{item.price}} </h4>
            <h3 class="margin-b-03"> {{item.title}} </h3>
            <h4 class="subtitle"> {{item.subtitle}} </h4>
            <a href="{{item.inner-url}}" class="cta-button-light">Learn more</a>
            {% if item.open == true %}
            <a href="{{item.booking-url}}" target="_blank" class="cta-button">Book now</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</section>

<!-- Banner Section -->
<section class="grid text-center padded bg-image bg-image-13 tall-40">
    <h3 class="col-12-bottom featured-text medium-text margin-b-0 editable">Exhibition at the Visitor Center</h3>
    <h2 class="col-12-top big-text editable">Meet Hinat</h2>
</section>