---
layout: default
title: Booking Hegra Experiences
featured_image: /images/experience-hegra-2.jpg
cards:
 - title: Hegra Tour
   price: SAR 95
   subtitle: Daytime tour by coach bus
   photo_image: bg-image-22
   url: https://tickets.experiencealula.com/en/experiences/hegra-day-tour?gclid=EAIaIQobChMI1Ozb4aexgwMVboCDBx1EiAohEAAYASAAEgIP-fD_BwE
 - title: Hegra Vintage Land Rover
   price: SAR 1000 per vehicle
   subtitle: Daytime tour with private driver
   photo_image: bg-image-10
   url: https://tickets.experiencealula.com/en/experiences/hegra-vintage-landrover-tour?gclid=EAIaIQobChMI1Ozb4aexgwMVboCDBx1EiAohEAAYASAAEgIP-fD_BwE
 - title: The Living Museum Augmented Reality
   price: SAR 1200 per vehicle
   subtitle: Enhanced tour with AR glasses
   photo_image: bg-image-12
   url: https://tickets.experiencealula.com/en/experiences/hegra-vintage-landrover-tour?gclid=EAIaIQobChMI1Ozb4aexgwMVboCDBx1EiAohEAAYASAAEgIP-fD_BwE
 - title: Hegra Wildlife & Nature Tour
   price: SAR 150
   subtitle: Safari through a different side of Hegra
   photo_image: bg-image-13
   url: https://tickets.experiencealula.com/en/experiences/Hegra-Wildlife-Nature-Tour?gclid=EAIaIQobChMI1Ozb4aexgwMVboCDBx1EiAohEAAYASAAEgIP-fD_BwE
 - title: Hegra by Horse Carriage
   price: SAR 135
   subtitle: Sunrise or sunset tour
   photo_image: bg-image-14
   url: https://tickets.experiencealula.com/en/experiences/hegra-by-horse-carriage?groupAlias=heritage-experiences&gclid=EAIaIQobChMI1Ozb4aexgwMVboCDBx1EiAohEAAYASAAEgIP-fD_BwE
 - title: Hegra After Dark
   price: SAR 150
   subtitle: Limited-time immersive experience
   photo_image: bg-image-16
   url: https://tickets.experiencealula.com/en/experiences/hegra-after-dark?gclid=EAIaIQobChMI1Ozb4aexgwMVboCDBx1EiAohEAAYASAAEgIP-fD_BwE
seo:
  title: Booking Hegra Experiences
  description: >-
    Discover Hegra tour options and easily book your experience at Saudi Arabia's first UNESCO World Heritage Site, in AlUla. Sunrise, group or private tours available.
  social_image:
  twitter_card: summary
  twitter_description: >-
    Discover Hegra tour options and easily book your experience at Saudi Arabia's first UNESCO World Heritage Site, in AlUla. Sunrise, group or private tours available.
  keywords: 'Book Hegra tours, easy tourism Hegra'
  hide-from-google: false  
---
<!-- Responsive Banner -->
{% include responsive-banner.html %}

<!-- Overview Section -->
<section class="grid padded padded-b-0">
    <h2 class="col-12 editable">Explore the history of AlUla</h2>
    <p class="col-12 editable">Situated at the heart of the ancient Incense Road, AlUla was once the southernmost outpost of the great Nabataean civilization. There are many ways to explore the over 110 tombs of Saudi Arabia's first UNESCO World Heritage Site, though all options involve booking a tour through AlUla's destination website. From sunrise horse-drawn carriage rides to after-dark experiences, each option gives a unique glimpse into this historic city.</p>
</section>

<!-- Booking Options Cards -->
<section class="padded">
  <h2 class="editable"> Booking Options </h2>
  <div class="grid">
  
      {% for item in page.cards %}
      <!--   Card 1     -->
      <div class="col-4_sm-12-spaceBetween card card-booking margin-b-2"> 
        <div>
          <div class="square bg-image text-right {{item.photo_image}}">
            <!-- image -->
          </div>
          <div class="padded">
            <h4 class="price featured-text margin-b-03"> {{item.price}} </h4>
            <h3 class="margin-b-03"> {{item.title}} </h3>
            <h4 class="subtitle"> {{item.subtitle}} </h4>
            <a href="{{item.url}}" target="_blank" class="cta-button">Book now</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</section>

<!-- Banner Section -->
<section class="grid text-center padded bg-image bg-image-13 tall-40">
    <h3 class="col-12-bottom featured-text medium-text margin-b-0 editable">Exhibition at the Visitor Center</h3>
    <h2 class="col-12-top big-text editable">Meet Hinat</h2>
</section>