---
layout: default
title: Experience Hegra Homepage
cards:
   -
      title: Hegra Tour
      price: SAR 95
      subtitle: Daytime tour by coach bus
      photo_image: bg-image-22
      inner-url: >-
          https://experiencehegra.com/booking/hegra-tour.html
      booking-url: >-
         https://www.experiencealula.com/en/things-to-do/experiences/hegra-tour
   -
      title: Hegra Vintage Land Rover
      price: From SAR 700 per vehicle
      subtitle: Daytime tour with private driver
      photo_image: bg-image-10
      inner-url: >-
         https://experiencehegra.com/booking/hegra-vintage.html
      booking-url: >-
         https://www.experiencealula.com/en/things-to-do/experiences/vintage-land-rover-hegra-day-tour
   -
      title: Hegra Wildlife & Nature Tour
      price: SAR 150
      subtitle: Safari through a different side of Hegra
      photo_image: bg-image-13
      inner-url: >-
         https://experiencehegra.com/booking/hegra-wildlife.html
      booking-url: >-
         https://www.experiencealula.com/en/things-to-do/experiences/hegra-wildlife-nature-tour
   -
      title: Hegra Night Tour
      price: SAR 60
      subtitle: By LED bicycle or horse-drawn carriage
      photo_image: bg-image-15
      inner-url: >-
         https://experiencehegra.com/booking/hegra-night-tour.html
      booking-url: >-
         https://www.experiencealula.com/en/things-to-do/experiences/hegra-night-tour
   -
      title: Hegra by Horse Carriage
      price: 
      subtitle: Sunrise or sunset tour
      photo_image: bg-image-14
      inner-url: >-
         https://experiencehegra.com/booking/hegra-horse-carriage.html
      booking-url: >-
         https://www.experiencealula.com/en/things-to-do/experiences/hegra-by-horse-carriage
   -
      title: The Living Museum Augmented Reality
      price: 
      subtitle: Enhanced tour with AR glasses
      photo_image: bg-image-12
      inner-url: >-
         https://experiencehegra.com/booking/hegra-augmented-reality.html
      booking-url: >-
         
   -
      title: Hegra After Dark
      price: 
      subtitle: Limited-time immersive experience
      photo_image: bg-image-16
      inner-url: >-
         https://experiencehegra.com/booking/hegra-after-dark.html
      booking-url: >-
         
seo:
   title: Experience Hegra
   description: >-
      Experience Hegra, Saudi Arabia's first UNESCO World Heritage Site, in
      AlUla. Book your experiences and read articles about the largest Nabataean
      city south of Petra.
   social_image:
   twitter_card: summary
   twitter_description: >-
      Experience Hegra, Saudi Arabia's first UNESCO World Heritage Site. Book
      your experiences and read articles about the largest Nabataean city south
      of Petra — found in the modern-day city of AlUla, KSA.
   keywords: 'Book experiences at Hegra, easy tourism Hegra '
   hide-from-google: false
---
<section class="grid">
    <div class="col-12 bg-image bg-image-26 tall-70">
        <!-- Hegra Main Page image -->
    </div>
</section>

<!-- Booking Options Cards -->
<section class="padded mob-padded-0 padded-r-0">
  <h2 class="editable"> Booking Options </h2>
  <div class="grid horizontal-scroll">
  
      {% for item in page.cards %}
      <!--   Card 1     -->
      <div class="col-3_xs-11 card card-index">
        <div>
          <div class="square bg-image text-right {{item.photo_image}}">
            <h4 id="back-soon" class = >Coming back soon</h4>
            <!-- image -->
          </div>
          <div class="padded">
            <h4 class="price featured-text margin-b-03"> {{item.price}} </h4>
            <h3 class="margin-b-03"> {{item.title}} </h3>
            <h4 class="subtitle"> {{item.subtitle}} </h4>
            <a href="{{item.inner-url}}" class="cta-button-light">Learn more</a>
            <a href="{{item.booking-url}}" target="_blank" class="cta-button">Book now</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</section>
<section>
  <a href="/booking.html" class="padded leading-page-button padded-t-0 text-right">See all booking options &nbsp; &#10141; </a>
</section>

<!-- UNESCO Banner Section -->
<section class="grid-middle padded bg-image bg-overlay white-text bg-image-24 tall-50">
  <div class="grid col-12 text-center" data-aos="fade-up">
    <h3 class="col-12-bottom margin-b-0 featured-text big-text">Saudi Arabia's first</h3>
    <h2 class="col-12-top big-text">UNESCO World Heritage Site</h2>
  </div>
</section>

<!-- Article Banner Section -->
<section class="grid-middle padded padded-b-0 bg-dark tall-20">
  <h2 class="editable">Explore featured articles about <span class="featured-text big-text">Hegra</span></h2>
  </section>
<section>
  <a href="/articles.html" class="bg-dark leading-page-button padded padded-t-0 text-right">See all articles &nbsp; &#10141; </a>
</section>

<section class="grid padded">

  {% for post in site.posts limit:3 offset:1 %}

    <div class="col-4_xs-12 padded-1">
      <div class="bg-image portrait" style="background-image: url('{{post.featured_image}}')"></div>
      <h3 class="margin-tb"> {{post.title}} </h3>
      <p> {{post.description}} </p>
      <a href="{{post.url}}" class="article-button"> Find out more &nbsp; &#10141; </a>
    </div>
    
  {% endfor %}

</section>

<!-- Articles Section -->
<section class="grid-middle">
    {% for item in page.articles %}

    <div class="col-6_sm-12 padded">
        <h3>{{item.title-left}}</h3>
        <p>{{item.description-left}}</p>
        <a href="#" class="text-right article-button"> Find out more &nbsp; &#10141; </a>
    </div>
    <div class="col-6_sm-12 bg-image mob-hide {{item.photo-left}} tall-60">
        <!-- image right -->
    </div>
    <div class="col-6_sm-12 bg-image {{item.photo-right}} tall-60">
        <!-- image left -->
    </div>
    <div class="col-6_sm-12 padded">
        <h3>{{item.title-right}}</h3>
        <p>{{item.description-right}}</p>
        <a href="#" class="text-right article-button"> Find out more &nbsp; &#10141; </a>
    </div>

    {% endfor %}
</section>