<div>
    
    <div style="display:inline-block">
        <i class="fa-solid fa-ticket info-icons"></i>
        <p style="display:inline-block">{{page.price}}</p>
    </div>
    <div style="display:inline-block">
        <i class="fa-solid fa-clock info-icons"></i>
        <p style="display:inline-block">{{page.duration}}</p>
    </div>
    <div style="display:inline-block">
        <i class="fa-solid fa-comment info-icons"></i>
        <p style="display:inline-block">English & Arabic</p>
    </div>
    <div style="display:inline-block">
        <i class="fa-solid fa-person info-icons"></i>
        <p style="display:inline-block">{{page.age}}</p>
    </div> 

</div>