<footer class="grid bg-dark padded">
    <div class="col-6_sm-12">
        <h2 class="margin-b-0">Experience<span class="featured-text"> Hegra</span></h2>
        <p class="editable">The ancient Nabataean city of Hegra is located in the northwest of the Arabian Peninsula, in the flagship tourist destination of AlUla, Saudi Arabia. While its more well-known sister city of Petra lies in Jordan, the 110 tombs of Hegra are still waiting to truly be discovered.</p>
    </div>
    <div class="col-6_sm-12-bottom margin-t-2 text-right">
        <h3>AlUla, Saudi Arabia</h3>
    </div>
</footer>