<section>
    <header class="grid-middle center"> 
      <nav class="col-3 text-right mob-hide"> 
        <a href="/index.html"> Home </a>
        <div class="dropdown">
          <a href="/booking.html" class="dropdown-title"> Booking </a>
          <div class="dropdown-content">
            <a href="/booking/hegra-tour.html"> Hegra Tour </a>
            <a href="/booking/hegra-vintage.html"> Hegra Vintage Land Rover Tour </a>
            <a href="/booking/hegra-wildlife.html"> Hegra Wildlife & Nature Tour </a>
            <a href="/booking.html"> All experiences &nbsp; &#10141;</a>
          </div>
        </div>
      </nav>
      <div class="col-6_sm-11 text-center"> 
        <a href="/index.html"> 
          <h2 class="logo">Experience<span class="featured-text"> Hegra</span></h2>
        </a>
      </div>
      <nav class="col-3 text-left mob-hide"> 
        <div class="dropdown">
          <a href="/articles.html" class="dropdown-title"> Articles </a>
          <div class="dropdown-content">
            <a href="/articles/history-of-hegra.html"> History of Hegra </a>
            <a href="/articles/sister-city-petra.html"> Sister City to Petra </a>
            <a href="/articles/symbolic-language-hegra.html"> Symbolic Language at Hegra </a>
            <a href="/articles/art-of-architechture-hegra-p1.html"> Art of Architecture (part 1) </a>
            <a href="/articles/art-of-architecture-hegra-p2.html"> Art of Architecture (part 2) </a>
          </div>
        </div>
        <a href="/gallery.html"> Gallery </a>
      </nav>
    </header>

    <div class="hamburger-button mob-show"> &#9776; </div>
    
    <div class="mobile-menu">
      <nav>
        <a href="/index.html"> Home </a>
        <a href="/booking.html"> Booking </a>
          <div class="mob-margin-05 mob-dropdown">
            <a href="/booking/hegra-tour.html"> Hegra Tour </a>
            <a href="/booking/hegra-vintage.html"> Hegra Vintage Land Rover Tour </a>
            <a href="/booking/hegra-wildlife.html"> Hegra Wildlife & Nature Tour </a>
            <a href="/booking.html"> All experiences &nbsp; &#10141;</a>
          </div>
        <a href="/articles.html"> Articles </a>
          <div class="mob-margin-05 mob-dropdown">
            <a href="/articles/history-of-hegra.html"> History of Hegra </a>
            <a href="/articles/sister-city-petra.html"> Sister City to Petra </a>
            <a href="/articles/symbolic-language-hegra.html"> Symbolic Language at Hegra </a>
            <a href="/articles/art-of-architechture-hegra-p1.html"> Art of Architecture (part 1) </a>
            <a href="/articles/art-of-architecture-hegra-p2.html"> Art of Architecture (part 2) </a>
          </div>
        <a href="/gallery.html"> Gallery </a>
      </nav>
    </div>
  </section>