<section>
    <header class="grid-middle center"> 
      <nav class="col-3 text-right mob-hide"> 
        <a href="/index.html"> Home </a>
        <a href="/booking.html"> Booking </a>
      </nav>
      <div class="col-6_sm-11 text-center"> 
        <a href="/index.html"> 
          <h2 class="logo">Experience<span class="featured-text"> Hegra</span></h2>
        </a>
      </div>
      <nav class="col-3 text-left mob-hide"> 
        <div class="dropdown">
          <span class="dropdown-title"> Articles </span>
          <div class="dropdown-content">
            {% for post in site.posts %}
  
            <a href="/_posts/2023-12-01-history-of-hegra.md"> History of Hegra </a>
            <a href="{{post.url}}"> Sister City to Petra </a>
            <a href="{{post.url}}"> Symbolic Language at Hegra </a>
            <a href="{{post.url}}"> Art of Architecture (part 1) </a>
            <a href="{{post.url}}"> Art of Architecture (part 2) </a>
              
            {% endfor %}
          </div>
        </div>
        <a href="/gallery.html"> Gallery </a>
      </nav>
    </header>

    <div class="hamburger-button mob-show"> &#9776; </div>
    
    <div class="mobile-menu">
      <nav>
        <a href="/index.html"> Home </a>
        <a href="/booking.html"> Booking </a>
        <a href="/articles.html"> Articles </a>
        <a href="/gallery.html"> Gallery </a>
      </nav>
    </div>
  </section>