---
layout: default
---

<!-- Responsive Banner -->
{% include responsive-banner.html %}


<!-- Page Overview -->
<section class="padded">
    <h2>Overview</h2>
    <p editable>{{page.overview}}</p>
</section>

<!-- Info Icons Section -->
<section class="padded padded-t-0">
    <div>
        <div style="display:inline-block">
            <i class="fa-solid fa-clock info-icons"></i>
            <p style="display:inline-block">{{page.duration}}</p>
        </div>
        <div style="display:inline-block">
            <i class="fa-solid fa-ticket info-icons"></i>
            <p style="display:inline-block">Mobile ticket</p>
        </div>
        <div style="display:inline-block">
            <i class="fa-solid fa-comment info-icons"></i>
            <p style="display:inline-block">English & Arabic</p>
        </div>
    </div>
</section>



<!-- Refund & Exchange Policy -->
<section class="grid padded">
    <h3>Refund and exchange policy</h3>
    <div class="margin-l">
        <ul>
            <li>Changes and refunds are allowed up to three days before the booked date.</li>
            <li>Please note that any bank credit card charges cannot be refunded.</li>
            <li>Changes regarding dates or times can only be made up to one day before the booked date and are subject to availability.</li>
            <li>No refunds or changes are allowed on the day of the tour.</li>
            <li>Please contact the Experience AlUla team at <a href="tel:966920025003">+966 920 025 003</a> or send a refund request using the <a href="https://tickets.experiencealula.com/en/contact?gclid=EAIaIQobChMI1Ozb4aexgwMVboCDBx1EiAohEAAYASAAEgIP-fD_BwE">contact form</a>.</li>
            <li>If you booked your ticket through a third party (not the suggested Experience AlUla website), please coordinate with them on policies, changes, and updates.</li>
        </ul>
    </div>
</section>