---
layout: default
---

<!-- Responsive Banner -->
{% include responsive-banner.html %}


<!-- Page Overview -->
<section class="padded mob-padded-lg">
    <h2>Overview</h2>
    <p> {{page.overview}} </p>
</section>

<hr>

<!-- Info Icons Section -->
<section class="padded">
    
    <div>
        <div style="display:inline-block">
            <i class="fa-solid fa-ticket info-icons"></i>
            <p style="display:inline-block">{{page.price}}</p>
        </div>
        <div style="display:inline-block">
            <i class="fa-solid fa-clock info-icons"></i>
            <p style="display:inline-block">{{page.duration}}</p>
        </div>
        <div style="display:inline-block">
            <i class="fa-solid fa-comment info-icons"></i>
            <p style="display:inline-block">English & Arabic</p>
        </div>
        <div style="display:inline-block">
            <i class="fa-solid fa-person info-icons"></i>
            <p style="display:inline-block">{{page.age}}</p>
        </div>
    </div>

</section>

<!-- Gallery Slider evenetually -->

<!-- Individual Page Content -->
{{ content }}


<!-- Refund & Exchange Policy -->
<section class="grid padded mob-padded-lg">
    <h3>Refund and exchange policy</h3>
    <div class="margin-l">
        <ul>
            <li>Changes and refunds are allowed up to three days before the booked date.</li>
            <li>Please note that any bank credit card charges cannot be refunded.</li>
            <li>Changes regarding dates or times can only be made up to one day before the booked date and are subject to availability.</li>
            <li>No refunds or changes are allowed on the day of the tour.</li>
            <li>Please contact the Experience AlUla team at <a href="tel:966920025003">+966 920 025 003</a> or send a refund request using the <a href="https://tickets.experiencealula.com/en/contact?gclid=EAIaIQobChMI1Ozb4aexgwMVboCDBx1EiAohEAAYASAAEgIP-fD_BwE">contact form</a>.</li>
            <li>If you booked your ticket through a third party (not the suggested Experience AlUla website), please coordinate with them on policies, changes, and updates.</li>
        </ul>
    </div>
</section>

<!-- UGC? -->

<!-- Reviews? -->

<hr>
<!-- Booking Options Cards -->

{% include other-hegra-experiences.html %} 

<!-- <section class="padded mob-padded-0 padded-r-0">
    <h2 class="editable"> Other Hegra Experiences </h2>
    <div class="grid horizontal-scroll">
        
    </div>
    <div>
        <a href="/booking.html" class="padded leading-page-button padded-t-0 text-right">See all booking options &nbsp; &#10141; </a>
    </div>
</section> -->