---
layout: default
---

<!-- Responsive Banner -->
{% include responsive-banner.html %}

<section class="padded">
    <h2>Overview</h2>
    <p>{{page.overview}}</p>
</section>

<section class="padded padded-t-0">
    <div>
        <div style="display:inline-block">
            <i class="fa-solid fa-clock info-icons"></i>
            <p style="display:inline-block">{{page.duration}}</p>
        </div>
        <div style="display:inline-block">
            <i class="fa-solid fa-ticket info-icons"></i>
            <p style="display:inline-block">Mobile ticket</p>
        </div>
        <div style="display:inline-block">
            <i class="fa-solid fa-comment info-icons"></i>
            <p style="display:inline-block">English & Arabic</p>
        </div>
    </div>
</section>