<!DOCTYPE html>
<html lang="en">

<head>

  {% include site-head.html %}

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHTRJRPH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  {% include inline-styles.html %}

  {% include cookie-banner.html %}

  <!-- Header Nav + Mobile Menu -->
  {% include header.html %}

  {{content}}

  {% include footer.html %} 

  {% include body-scripts.html %}  

</body>

</html>