---
layout: default
---

<!-- Responsive Banner -->
{% include responsive-banner.html %}

<section class="padded padded-b-0 mob-post">
    <h1 class="big-text"> {{page.title-long}} </h1>
</section>

<section class="padded margin-lr-xxl mob-margin-05 post mob-post">
    
    {{content}}
    
</section>

<div>
  <h2 class="padded-lr editable"> Related articles </h2>
</div>
<section class="grid padded">
  {% capture pageCategory %}{{ page.categories[0] }}{% endcapture %}

  {% assign relevant-posts = site.categories[pageCategory] | where_exp:"post","post.url != page.url and post.hidden != true" %}

    {% for post in relevant-posts limit:3 offset:1 %}
  
      <div class="col-4_xs-12 padded-1">
        <div class="bg-image square" style="background-image: url('{{post.featured_image}}')"></div>
        <h3 class="margin-tb"> {{post.title}} </h3>
        <p> {{post.description}} </p>
        <a href="{{post.url}}" class="article-button"> Find out more &nbsp; &#10141; </a>
      </div>
      
    {% endfor %}
  
  </section>